* { margin: 0; padding: 0;}
nav { 
    padding: 5px;
}
nav a {
    text-decoration: none;
    margin-left: 55px;
    padding: 5px;
}

header {
    background-color: chartreuse;
    height: 30px;
}
#second {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box {
    height: 100px;
    width: 100px;
    background-color: violet;
    margin:5px;
    display:inline-block;
    
}
#container {
    border: 3px solid red;
    margin: 5px;
}
#box4 {
    position: fixed;
    right: 10px;
}
#box2 {
    z-index: 2;
    position:absolute;
    left: 20px;
}
footer {
    position : fixed;
    bottom: 0px;
    background-color: chartreuse;
}